<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CO2 Dashboard</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div id="nav">
    <h2>CO<sub>2</sub> Dashboard</h2>
    <p>
      Explore CO<sub>2</sub> emissions by year : 
      <span id="year-val"></span>
      <input id="year" type="range" step="1" class="slider">
    </p>
    <p>
      Total emissions or Emissions per capita :
      <span class="radio-group">
        <input type="radio" name="data-type" value="emissions" class="radio" checked>
        <label class="labels">Emissions</label>
        <input type="radio" name="data-type" value="emissionsPerCapita" class="radio">
        <label class="labels">Emissions Per Capita</label>
      </span>
    </p>
    <p style="padding-top: 10px;">Click on a country to see its trends by year.</p>
  </div>
  <section class="container">
    <div class="chart-container">
    <svg 
      version="1.1"
      baseProfile="full"
      xmlns="http://www.w3.org/2000/svg" 
      id="map">
    </svg>
  </div>
  <div class="chart-container right">
    <svg 
      version="1.1"
      baseProfile="full"
      xmlns="http://www.w3.org/2000/svg" 
      id="pie">
    </svg>
    <svg 
      version="1.1"
      baseProfile="full"
      xmlns="http://www.w3.org/2000/svg" 
      id="bar">
    </svg>
  </div>
  </section>
  <div class="tooltip"></div>
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://unpkg.com/topojson@3"></script>
  <script src="/map.js"></script>
  <script src="/pie.js"></script>
  <script src="/bar.js"></script>
  <script src="/main.js"></script>
</body>
</html>